Source: hurd-libfuse
Section: libs
Priority: optional
Maintainer: GNU Hurd Maintainers <debian-hurd@lists.debian.org>
Uploaders: Samuel Thibault <sthibault@debian.org>,
 Pino Toscano <pino@debian.org>
Build-Depends: debhelper (>= 9), hurd-dev, dh-autoreconf, pkg-config
Standards-Version: 3.9.5
Homepage: http://www.gnu.org/software/hurd/hurd/libfuse.html
Vcs-Git: https://anonscm.debian.org/git/pkg-hurd/libfuse.git
Vcs-Browser: https://anonscm.debian.org/git/pkg-hurd/libfuse.git

Package: libfuse-hurd-dev
Architecture: hurd-any
Section: libdevel
Multi-Arch: same
Depends: ${misc:Depends}, libfuse-hurd1 (= ${binary:Version})
Provides: libfuse-dev
Description: Hurd-based FUSE API library - development files
 libfuse aims at providing the FUSE API, thus permitting to run existing FUSE
 backends.
 .
 This package provides development files to build FUSE modules

Package: libfuse-hurd1
Architecture: hurd-any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: Hurd-based FUSE API library - shared library
 libfuse aims at providing the FUSE API, thus permitting to run existing FUSE
 backends.
 .
 This package provides the runtime library.

Package: libfuse-hurd-dbg
Section: debug
Priority: extra
Architecture: hurd-any
Multi-Arch: same
Depends: libfuse-hurd1 (= ${binary:Version}), ${misc:Depends}
Description: Hurd-based FUSE API library - debug symbols
 libfuse aims at providing the FUSE API, thus permitting to run existing FUSE
 backends.
 .
 This package provides the debug symbols.

#Package: libfuse-dev
#Architecture: hurd-any
#Section: libdevel
#Multi-Arch: same
#Depends: ${misc:Depends}, libfuse-hurd-dev
#Description: Hurd-based FUSE API library - migration header
# libfuse aims at providing the FUSE API, thus permitting to run existing FUSE
# backends.
# .
# This package provides libfuse-dev with the version of the supported FUSE API,
# mostly to satisfy versioned dependencies.
