Source: hurd-libfuse
Section: libs
Priority: optional
Maintainer: GNU Hurd Maintainers <debian-hurd@lists.debian.org>
Uploaders: Samuel Thibault <sthibault@debian.org>
Build-Depends: debhelper (>= 9), dh-autoreconf
Standards-Version: 3.9.4
Homepage: http://www.gnu.org/software/hurd/hurd/libfuse.html
Vcs-Git: git://anonscm.debian.org/pkg-hurd/libfuse.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-hurd/libfuse.git

Package: libfuse-hurd-dev
Architecture: hurd-any
Section: libdevel
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}, libfuse-hurd0 (= ${binary:Version})
Provides: libfuse-dev
Description: Hurd-based FUSE API library - development files
 libfuse aims at providing the FUSE API, thus permitting to run existing FUSE
 backends.
 .
 This package provides development files to build FUSE modules

Package: libfuse-hurd0
Architecture: hurd-any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: Hurd-based FUSE API library - shared library
 libfuse aims at providing the FUSE API, thus permitting to run existing FUSE
 backends.
 .
 This package provides the runtime library.
