#!/usr/bin/make -f

DEB_HOST_MULTIARCH := $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

# our version
VERSION = $(shell dpkg-parsechangelog | sed -n 's/^Version: //p')
# the fuse.pc version
PKG_CONFIG_VERSION = $(shell env PKG_CONFIG_PATH=$(CURDIR)/debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/pkgconfig pkg-config --modversion fuse)

%:
	dh $@ --with autoreconf 

override_dh_auto_clean:
	dh_auto_clean
	rm -f example*/Makefile

override_dh_auto_install:
	dh_auto_install
	# no need for libtool files
	rm -f debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/*.la

override_dh_install:
	dh_install --fail-missing

override_dh_installchangelogs:
	dh_installchangelogs -XChangeLog

override_dh_strip:
	dh_strip --dbg-package=libfuse-hurd-dbg

override_dh_makeshlibs:
	dh_makeshlibs -V

override_dh_gencontrol:
	dh_gencontrol -plibfuse-dev -- '-v$(PKG_CONFIG_VERSION)+$(VERSION)'
	dh_gencontrol --remaining-packages
